.Player {
	display: flex;
	border: 1px solid black;
	padding: 5px;
	justify-content: space-between;
}
li {
	background-color: #3399ff;

}
li:nth-child(even){
	background-color: #999999;
}
.Player__button {
	border: 1px solid black;
	padding: 5px 9px;
	background-color: #33cccc;
	border-radius: 3px;
	cursor: pointer;
	font-weight: bold;
}
.Player__name {
	list-style-type: none;
	text-transform: capitalize;
	padding: 5px;

}
.Player__score {
	padding: 5px;
}
